<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/versioned-site-css/60adba8e808fae694eba4fd9/57/5c5a519771c10ba3470d8101/60adba8e808fae694eba4ff3/1632/site.css">
<link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/vta/5c5a519771c10ba3470d8101/versioned-assets/1746551647531-BX5MPXJMUO71QGALFV5P/static.css">
<link rel="stylesheet" type="text/css" href="https://assets.squarespace.com/universal/scripts-compressed/../styles-compressed/5fc7a936d9b12c49-min.en-US.css">

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
